# ox_doorlock administrator UI
add_ace group.node7_admin command.doorlock allow
add_ace group.node7_owner command.doorlock allow
add_ace group.admin command.doorlock allow

# NODE7 lockpick integration test command
add_ace group.node7_admin command.doorpicktest allow
add_ace group.node7_owner command.doorpicktest allow
add_ace group.admin command.doorpicktest allow

add_ace group.node7_admin ox_doorlock.test allow
add_ace group.node7_owner ox_doorlock.test allow
add_ace group.admin ox_doorlock.test allow
